{% extends 'base.html.twig' %}

{% block title %}Ajouter une reclamation !{% endblock %}
{%  form_theme formService 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1 class="text-black font-weight-bold">
        {% if editMode %}
            Modifier service !
        {% else %}
            Nouveau service !
        {% endif %}

    </h1>
    {{ form_start(formService) }}

    {{ form_row(formService.nomService) }}
    {{ form_row(formService.image) }}
    {{ form_row(formService.categorie) }}

    {{ form_row(formService.DescriptionService) }}
    {{ form_row(formService.PrixHeure) }}


    <button type="submit" class="btn btn-primary btn-l">
        {% if editMode %}
        Enregistrer
        {% else %}
        Ajouter service
        {% endif %}
    </button>

    {{ form_end(formService) }}



{% endblock %}
